In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/diploma/data.csv

Импорты. Потом почистить.

In [2]:
# импорт библиотек

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas_profiling
from pandas_profiling import ProfileReport
import os
import sys
import zipfile
import PIL
from PIL import ImageOps, ImageFilter
import re
import ast
from datetime import time, date, datetime
import random

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('seaborn-paper')

from optuna import *

from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_selection import SelectKBest, chi2, f_classif, f_regression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler, StandardScaler, RobustScaler
from sklearn.impute import KNNImputer

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor


from sklearn.ensemble import StackingRegressor
from sklearn.ensemble import VotingRegressor
from tqdm.notebook import tqdm
from catboost import CatBoostRegressor, Pool, cv

#image augmentation
#import albumentations as A
#from ImageDataAugmentor.image_data_augmentor import *

# keras
import tensorflow as tf
import tensorflow.keras.backend as K
import tensorflow.keras.layers as L
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.applications.efficientnet import EfficientNetB3
from tensorflow.keras.regularizers import l2
from tensorflow.keras.losses import MeanAbsolutePercentageError

from transformers import AutoTokenizer, TFAutoModelForSequenceClassification, DataCollatorWithPadding

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')


pd.set_option('display.max_columns', 550) # больше колонок

os.environ['PYTHONHASHSEED']=str(42)

In [3]:
RANDOM_SEED = 42
random.seed(RANDOM_SEED)
np.random.seed(RANDOM_SEED)
tf.random.set_seed(RANDOM_SEED)

In [4]:
DIR_DATA  = '../input/diploma/'

In [5]:
data_d = pd.read_csv(DIR_DATA+'data.csv')

ВСПОМОГАТЕЛЬНЫЕ ФУНКЦИИ

In [6]:
# вспомогательная extract_num_recurr и основная extract_num функции для определения числа в строке произвольной форме
# для частного случая - в строке только одно число

# вспомогательная функция для нахождения числа в строке произвольной формы
# аргументы: собственно строка, длина строки, определяемая в основной функции, позиция текущего символа в строке
# увеличивается на единицу при очедерном вызове рекурсии

def extract_num_recurr(stroka,len_s,i):
    # последовательность принтов для контроля логики выполнения
  
    # проверка последнего символа в строке. Если программа дошла до последнего символа и не нашла числа,
    # результатом выполнения должно быть число, которое заведомо не удовлетворяет условиям сравнения в большой программе
    # в данном случае просто 0
    if i==len_s and not stroka[i].isdigit():
       
        return 0
    # проверка текущего символа в последовательности
    elif i<=len_s and stroka[i].isdigit():
        
        return(stroka[i])
    
    else: return(extract_num_recurr(stroka,len_s,i+1))
        
# основная функция для нахождения числа. На вход подается только строка, которую нужно обработать.
def extract_num(stroka):
    # фомируется аргумент - длина строки для перебора во вспомогательной функции
    
    len_s=len(stroka)-1
    # вызывается вспомогательная функция
    return extract_num_recurr(stroka,len_s,0)

In [7]:
data_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337267 non-null  object
 1   private pool  4181 non-null    object
 2   propertyType  342452 non-null  object
 3   street        377183 non-null  object
 4   baths         270847 non-null  object
 5   homeFacts     377185 non-null  object
 6   fireplace     103115 non-null  object
 7   city          377151 non-null  object
 8   schools       377185 non-null  object
 9   sqft          336608 non-null  object
 10  zipcode       377185 non-null  object
 11  beds          285903 non-null  object
 12  state         377185 non-null  object
 13  stories       226470 non-null  object
 14  mls-id        24942 non-null   object
 15  PrivatePool   40311 non-null   object
 16  MlsId         310305 non-null  object
 17  target        374704 non-null  object
dtypes: object(18)
memory usage: 51.8+ MB

Бизнес-задача. Назначение "правильной" цены, исходя из параметров дома. То есть, максимально близкой к продажной.
Бизнес-метрика. Пока не продумала.

1. + Что такое статус?

    1.1. Привести к численному значению. Видимо, будет много выбросов. Посмотреть корреляцию.
    
2. + Насколько важен private pool? Посмотреть распределение значение и проверить корреляцию с ценой - вдруг будет очень существенный скачок.

    2.1. В принципе, строк мало, можно пренебречь. Либо проверить количество значений значительно больше средней цены, после приведения цены к численному значению.
    
3. Тип собственности: преобразовать вручную. Посмотреть, какие есть значения.

    3.1. Подпрограмма поиска разных вариантов названия: single family home, может есть другие.
    
    3.2. Приведение к численным значениям.
    
4. С точки зрения здравого смысле должна быть корреляция между улицей и городом. Возможны проблемы с сочетанием популярности улицы - непопулярности города и наоборот. Что с этим делать пока не знаю.
5. Преобразовать площадь в численное значение.
6. Нужен ли индекс?
7. Ванны: выделить численное значение. Как быть с тремя с половиной ваннами? (Скорее всего, уйдет как выброс.)
8. homefacts - потом NLP
9. Насколько важен камин? Посмотреть количество значений и нет ли существенного скачка в цене.
10. Город - см. улица.
11. Школы: посмотреть корреляцию. Преобразовывать это будет сложно.
12. Площадь привести к численному выражению.
13. Спальни: привести к численному выражению.

    13.1. Добавить проверку на наличие более чем двузначных чисел. Посмотреть, сколько всего.
    
    13.2. Заменить пропуски каким-нибудь числом. Посмотреть, сколько всего.
    
    13.3. Если мало, выкинуть пропуски и некорректно заполненные. Если много, подумать, чем заполнить пропуски. С точки зрения здравого смысла, признак важный.
    
14. Штат: та же фигня, что с городом и улицей.
15. Stories: преобразовать к численному, посмотреть корреляцию.
16. mls_id и MLSID: похоже, одно и то же. Посмотреть распределение значений mls_id, скорее всего, можно будет просто выкинуть. MLSID, наверное, тоже.
17. Цена: преобразовать к численному выражению.

In [8]:
data_d.head(15)

,status,private pool,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,PrivatePool,MlsId,target
0,Active,NaN,Single Family Home,240 Heather Ln,3.5,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",Gas Logs,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,NaN,NaN,NaN,611019,"$418,000"
1,for sale,NaN,single-family home,12911 E Heroy Ave,3 Baths,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3 Beds,WA,2.0,NaN,NaN,201916904,"$310,000"
2,for sale,NaN,single-family home,2005 Westridge Rd,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",yes,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3 Beds,CA,1.0,NaN,yes,FR19221027,"$2,895,000"
3,for sale,NaN,single-family home,4311 Livingston Ave,8 Baths,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",yes,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5 Beds,TX,3.0,NaN,NaN,14191809,"$2,395,000"
4,for sale,NaN,lot/land,1524 Kiscoe St,NaN,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Palm Bay,"[{'rating': ['4/10', '5/10', '5/10'], 'data': ...",NaN,32908,NaN,FL,NaN,NaN,NaN,861745,"$5,000"
5,for sale,NaN,townhouse,1624 S Newkirk St,NaN,"{'atAGlanceFacts': [{'factValue': '1920', 'fac...",NaN,Philadelphia,"[{'rating': [], 'data': {'Distance': [], 'Grad...",897 sqft,19145,2 Beds,PA,2.0,NaN,NaN,PAPH847006,"$209,000"
6,Active,NaN,Florida,552 Casanova Ct,NaN,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",NaN,POINCIANA,"[{'rating': ['3', '3', '1', 'NR'], 'data': {'D...","1,507",34759,NaN,FL,One,NaN,NaN,S5026943,"181,500"
7,Active,NaN,NaN,6094 Mingle Dr,NaN,"{'atAGlanceFacts': [{'factValue': '1976', 'fac...",NaN,Memphis,"[{'rating': ['4', '2', '2'], 'data': {'Distanc...",NaN,38115,NaN,TN,NaN,NaN,NaN,10063506,"68,000"
8,Active,NaN,Single Family Home,11182 Owl Ave,2,"{'atAGlanceFacts': [{'factValue': '1970', 'fac...",NaN,Mason City,"[{'rating': ['2', '2', '4', '7', '4', 'NR'], '...",3588,50401,3,IA,NaN,NaN,NaN,190988,"$244,900"
9,NaN,NaN,Single Family,8612 Cedar Plains Ln,3,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Houston,"[{'rating': ['4/10', '3/10', '2/10'], 'data': ...","1,930",77080,3,TX,2.0,NaN,NaN,73968331,"$311,995"
10,for sale,NaN,coop,14205 Roosevelt Ave #512,2 Baths,"{'atAGlanceFacts': [{'factValue': '1965', 'fac...",NaN,Flushing,"[{'rating': ['2/10', '8/10', '10/10'], 'data':...","1,300 sqft",11354,3 Beds,NY,NaN,NaN,NaN,3087630,"$669,000"
11,Active,NaN,English,4222 False Cypress Ln,NaN,"{'atAGlanceFacts': [{'factValue': '2015', 'fac...",NaN,Houston,"[{'rating': ['6', '3', '6', '1', '5'], 'data':...","3,130",77068,NaN,TX,2,NaN,NaN,5741322,"260,000"
12,for sale,NaN,single-family home,16373 NW 16th St,3 Baths,"{'atAGlanceFacts': [{'factValue': '1996', 'fac...",NaN,Pembroke Pines,"[{'rating': ['8/10', '7/10', '7/10'], 'data': ...","2,839 sqft",33028,4 Beds,FL,1.0,NaN,yes,A10767242,"$525,000"
13,New construction,NaN,Single Family,1538 Umpqua Dr,Bathrooms: 2,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Eugene,"[{'rating': ['7/10', '7/10', '8/10'], 'data': ...","Total interior livable area: 1,820 sqft",97401,3 bd,OR,1.0,19221142,NaN,NaN,"$499,900"
14,NaN,NaN,Single Family,15351 Falmouth Ave,3,"{'atAGlanceFacts': [{'factValue': '1982', 'fac...",NaN,Houston,"[{'rating': ['4/10', '5/10', '7/10'], 'data': ...","2,454",77084,4,TX,2.0,NaN,NaN,65299510,"$168,800"

In [9]:
# Быстрый EDA 
#profile = ProfileReport(data_d, title='Dataset Pandas Profiling Report', explorative = True)

In [10]:
#profile

data_d['status'].value_counts()

In [11]:
data_d['private pool'].value_counts()

Yes    4181
Name: private pool, dtype: int64

In [12]:
data_d['beds'].unique()

array(['4', '3 Beds', '5 Beds', ..., '9,565 sqft', '1.74 acres',
       '8,479 sqft'], dtype=object)